<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>EmployeeRecord</title>
</head>
<body>

<h2>Welcome to Employee Record</h2>
<hr>
<h3>We devlop daily</h3>

<hr/>

<p>
    Username : <span sec:authentication="principal.username"></span>
    <br><br/>
    Roles : <span sec:authentication="principal.authorities"/>

</p>

<hr/>
<p sec:authorize="hasRole('MANAGER')">
    <a th:href="@{/leaders}">Leadership Meeting</a>
    (only for Manager peeps).
</p>


<p sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/systems}">IT Systems Meeting</a>
    (only for Admin peeps).
</p>

<form action="#" th:action="@{/logout}" method="post">

    <input type="submit" value="Logout"/>

</form>

</body>
</html>